.categories {
  text-align: center;
  color: blue;
  margin: 10%;

}

.a {
  color: green;
  background-color: pink;
}

.photo {
  border-radius: 100%;
  max-width: 450px;
  max-height: 450px;
  float:left;
  margin: 5%;

}
